body {
  overflow-x: hidden;
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.75;
}

a {
   color: #222222;
   font-weight: bold;
}

a:hover {
   color: #666;
   font-weight: bold;
   text-decoration: none;
}

.text-primary {
  color: #fed136 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section {
  padding: 0em 0em;
}

section h2.section-heading {
  font-size: 36px;
  font-color: #222222;
  line-spacing: 49px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 15px;
}

section h2.alt-section-heading {
  padding-top: 1em;
  padding-bottom: 0em;
  font-size: 36px;
  color: #CCC;
  line-spacing: 49px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  section {
    padding: 0em 0em;
  }
}

.btn {
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #fed136;
  border-color: #fed136;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #fec810 !important;
  border-color: #fec810 !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}


#mainNav {
  background-color: #222222;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  color: #fec503;
  border: 0;
  background-color: #222222;
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
  color: #CEB66F;
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, cursive;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #fec503;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 600;
  padding: 0.75em 0;
  color: #CEB66F;
 	line-height: 25px;
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
 	text-align: center;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fec503;
}
.dca-logo {
   padding-top: 5em;
   padding-bottom: 0em;
}

.dca-image {
   padding-top:0em;
   padding-bottom:2em;
   display:none;
}

.bio-image {
    margin: 30px;
}

.bio {
    padding:30px;
}
.carousel {
    padding-bottom: 30px;
}

.carousel-indicators li {
    background-color: gray;
}
.carousel-indicators .active {
    background-color: #000;
}

@media (min-width: 992px) {
   #mainNav {
     padding: 1.1em 1em;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: #222222;
  }
  #mainNav .navbar-brand {
    font-size: 1.25em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
     padding: 1.1em 2em !important;
  }
  #mainNav.navbar-shrink {
    padding: 1.1em 1em;
    background-color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
  #mainNav .navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

header.masthead {
  padding-top: 1em;
  text-align: center;
  background-color: #222;
  background-image: url("../img/header-bg.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
}


#intro {
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center;
  background-color: #222;
  text-color: #CCC;
}

.intro-text .intro-heading {
  font-size: 18px;
  margin-bottom: 25px;
	line-height: 26px;
	 color: #CCCCCC;
	 text-align: center;
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 300px) {
  .instruments {
    padding-top: 5em;
  }
}

@media (min-width: 576px) {
  header.masthead {
    padding-top: 10em;
  }
  .instruments {
    padding-top: 9em;
  }
  .dca-image {
    display:inline;
  }
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 18em;
  }
  .instruments {
    padding-top: 15em;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 18px;
    font-weight: 100;
    line-height: 26px;
  	color: #CCCCCC;
    font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  .dca-image {
    display:inline;
  }
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: 25em;
  }
  .instruments {
    padding-top: 20em;
  }
  .dca-image {
    display:inline;
  }
}

@media (min-width: 1200px) {
  header.masthead {
    padding-top: 33em;
  }
  .instruments {
    padding-top: 28em;
  }
  .dca-image {
      display:inline;
  }
}

.booking {
  padding-top: 2em;
  padding-bottom: 1em;
  background-color: #CCCCCC;
}

.shows {
  padding-top: 0em;
  padding-bottom: 1em;
  background-color: #222;
}

.instruments {
  background-image: url("../img/instruments.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
}

footer {
  padding: 25px 0;
  background-color: #222;
   text-color: #CCC;
   text-align: center;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  color: #CCC;
  text-align: center;
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #666;
}

.text-booking {
  color: #222;
}

.text-footer {
  color: #CCC;
}

.carousel {
  background: #EEE;
}

.carousel-cell {
  margin-right: 20px;
  overflow: hidden;
}

.carousel-cell img {
  display: block;
  height: 200px;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 400px;
  }
}
